---
import Basic from '@src/layouts/Basic.astro'
import cvData from '../_utils/constants'
import { marked } from 'marked'

type Props = {
  lang: 'es' | 'en'
}
const { lang } = Astro.props

const renderer = new marked.Renderer()

renderer.link = (href: string, title: string, text: string) =>
  `<a target="_blank" href="${href}" title="${title}">${text}</a>`

const parseMarkdown = (markdown: string) =>
  marked(markdown, { renderer }) as string

const printMessage = {
  es: 'Imprimir',
  en: 'Print',
}[lang]
const completeName = cvData.basicInfo.completeName
const introduction = cvData.basicInfo.introduction[lang]
const softSkills = cvData.basicInfo.softSkills[lang]
const headInfo = cvData.basicInfo.head[lang]
const contact = cvData.basicInfo.contact
const social = cvData.basicInfo.social
const technologies = cvData.technologies
const languages = cvData.languages
const hobbies = cvData.hobbies

const studies = {
  ...cvData.studies,
  data: cvData.studies.data.map(
    ({ 'introduction-md': introduction, ...study }) => ({
      ...study,
      'introduction-md': introduction[lang].map((intro) =>
        parseMarkdown(intro)
      ),
    })
  ),
}

const certificates = {
  titile: cvData.certificates.titile[lang],
  content: parseMarkdown(cvData.certificates.content),
}

const experience = {
  ...cvData.experience,
  data: cvData.experience.data.map((experience) => ({
    ...experience,
    areas: experience.areas.map((area) => ({
      ...area,
      'description-md': parseMarkdown(area['description-md'][lang]),
    })),
  })),
}

// const sideProjects = {
//   ...cvData.sideProjects,
//   data: cvData.sideProjects.data.map((project) => ({
//     ...project,
//     'title-md': parseMarkdown(project['title-md']),
//     areas: project.areas.map((area) => ({
//       ...area,
//       'description-md': parseMarkdown(area['description-md'][lang]),
//     })),
//   })),
// }
---

<Basic title="CV - Franco Moloche" allowIndexing={false}>
  <div class="w-[48rem] p-2 pb-12 flex flex-col m-auto print:m-0 print:p-0">
    <div class="w-full pt-2 pb-4 flex gap-4 self-start print:hidden text-sm">
      <div>
        <a
          class={lang == 'en' ? 'text-primary' : ''}
          href="/cv/Franco-Moloche-[en]">english</a
        >
        |
        <a class={lang == 'es' ? 'text-primary' : ''} href="/cv/Franco-Moloche"
          >español</a
        >
      </div>
      <button onclick="window.print()">
        🖨️ {printMessage}
      </button>
    </div>
    <div
      class="cv-container hyphens-auto flex-1 flex gap-6 text-justify font-sans text-xs bg-[#fff] text-neutral-900"
    >
      <div class="flex flex-col gap-4 px-10 py-6">
        <div class="flex flex-col">
          <h1 class="complete-name">{completeName}</h1>
          <h5>{headInfo}</h5>
          <p class="mt-1">{introduction}</p>
          <div class="mt-1 text-xs flex gap-1 text-neutral-500">
            {softSkills.map((skill) => <span>#{skill}</span>)}
          </div>
        </div>
        <div>
          <h2>{studies.title[lang]}</h2>
          {
            studies.data.map((study) => (
              <div class="mt-2">
                <h4 class="study-title">{study.title[lang]}</h4>
                <h5>{study.period[lang]}</h5>
                {study['introduction-md'].map((intro) => (
                  <div class="study-area" set:html={intro} />
                ))}
              </div>
            ))
          }
        </div>
        <div>
          <h2>{certificates.titile}</h2>
          <div class="mt-2" set:html={certificates.content} />
        </div>
        <div class="experience">
          <h2>{experience.title[lang]}</h2>
          {
            experience.data.map((job) => (
              <div class="mt-2">
                <h4>{job.title}</h4>
                <h5>{job.period[lang]}</h5>

                {job.areas.map((area) => (
                  <div>
                    <div set:html={area['description-md']} />
                    {!!area.technologies && (
                      <div>
                        <b>Tecnologías:</b>
                        {area.technologies}
                      </div>
                    )}
                  </div>
                ))}
                {job.imagePaths !== undefined &&
                  job.imagePaths.map((imagePath) => (
                    <div class="print:hidden">
                      <img src={imagePath} alt="job.title" />
                    </div>
                  ))}
              </div>
            ))
          }
        </div>
        <!-- TODO: Turn on when domain is ready -->
        <!-- <div class="experience">
          <h2>{sideProjects.title[lang]}</h2>
          {
            sideProjects.data.map((project) => (
              <div>
                <h3 set:html={project['title-md']} />
                <h5>{project.period[lang]}</h5>
                {project.areas.map((area) => (
                  <div>
                    <div set:html={area['description-md']} />
                    {!!area.technologies && (
                      <div>
                        <b>Stack:</b>
                        {area.technologies}
                      </div>
                    )}
                  </div>
                ))}
              </div>
            ))
          }
        </div> -->
      </div>
      <div
        class="cv-right [print-color-adjust:exact] min-w-[6cm] flex flex-col gap-4 px-4 py-6 bg-neutral-100"
      >
        <div>
          <h3>{contact.title[lang]}</h3>
          <div class="flex flex-col gap-[0.2rem]">
            <a :href="`mailto:${contact.email}`" target="_blank">
              {contact.email}
            </a>
            {
              social.map((item) => (
                <div>
                  {item.label}
                  <a href={item.url} target="_blank">
                    {item.text}
                  </a>
                </div>
              ))
            }
            <div>
              {contact.location[lang]}
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <h3>{technologies.title[lang]}</h3>
          <ul>
            {technologies.data.map((technology) => <li>{technology}</li>)}
          </ul>
        </div>
        <div class="flex flex-col">
          <h3>{languages.title[lang]}</h3>
          <ul>
            {languages.data.map((language) => <li>{language[lang]}</li>)}
          </ul>
        </div>
        <div class="flex flex-col">
          <h3>Hobbies</h3>
          <ul>
            {
              hobbies.map((hobby) => (
                <li>
                  <p>{hobby[lang]}</p>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</Basic>

<style>
  @media print {
    @page :first {
      margin: 0 0 2rem 0;
    }
    @page {
      margin: 2rem 0 2rem 0;
    }
    body,
    html {
      background-color: transparent;
    }
  }
</style>

<style is:global>
  .cv-right li {
    margin-bottom: 0.4em;
  }
  .cv-container a {
    @apply text-[var(--primary)] font-normal;
  }
  .cv-container ul {
    @apply ps-4;
  }
  .cv-container h4 {
    @apply leading-5 mb-1;
  }
</style>
